<div class="col-xl-3 col-lg-4 col-md-6 col-12">
    <div class=" product-card overflow-hidden rounded-4 bg-white">
        <div class="product_image position-relative">
            <div class="swiper productImageSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{{image}}" alt="product-image" width=""
                            height="">
                    </div>
                    <!-- <div class="swiper-slide">
                        <img src="./assets/img/earingProduct.webp" alt="product-image" width=""
                            height="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./assets/img/earingProduct.webp" alt="product-image" width=""
                            height=""> 
                    </div>-->
                </div>
                <!-- <div class="swiper-button-next small_swiper_btn"></div>
                <div class="swiper-button-prev small_swiper_btn"></div> -->
            </div>
            <button
            onclick="removeToWishlist({{id}})"
             class="wishlist_btn end-15 top-15 position-absolute  bg-white rounded-circle">
                <img src="./assets/img/heart-filled.svg" width="" height="" alt="wishlist-icon" class="wishlist-product-{{id}}">
            </button>
            <div class="bg-orange rounded-2 px-2 py-1 position-absolute z-2  top-15 start-15">
                <span class="text-white m-sbd product_label_text">Best Seller</span>
            </div>
        </div>
        <div class="d-flex flex-column p-14">
            <h2 class="product_title m-sbd text-black text-start">{{productname}}</h2>
            <span class="product_text m-reg text-start text-grey ellipsis">
                {{description}}
            </span>
            <p class="product_discount_text mb-0">
                <span class="text-grey m-reg ">
                    <b class="m-bd ">Product Code:</b>  {{productcode}}
                </span>
            </p>
            <a
                href="./product?product_id={{id}}&v_id={{variation_id}}"
                class="h-50 mt-3 bg-green rounded-1 d-flex flex-row justify-content-center align-items-center border-green gap-10">
                <span>
                    <i class="fa fa-eye text-white font-16"></i>
                </span>
                <span class="font-16 text-white m-sbd ">View Details</span>
            </a>
        </div>
    </div>
</div>