<li class=" position-relative list-menu py-header" id="mega-menu">
    <a href="{{BASE_URL}}category.php?category={{id}}" class="nav-link d-flex align-items-end gap-1">
        <span class="text-green nav_props m-sbd">{{category}}</span>
        <span><i class="fa fa-sort-down text-green"></i></span>
    </a>
    <div class="submenu col-12 rounded-4 bg-white left-0">
        <div class="row align-items-start col-12 d-flex" >
            
            <section id="nav-id-{{id}}" class="row align-items-start d-flex col-8" >
            </section>
           
            <div class="col-4">
                <div class="d-flex justify-content-center align-items-center mt-4 pt-2 header_image_left">
                    <img src="{{image}}" class="rounded-3" alt="">
                </div>
            </div>
        </div>
    </div>
</li>